{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container my-5 px-5">
    <div class="card mb-3" style="max-width: 1200px;" style="max-height: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/static/Mayur.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title mb-5" style="line-height: 30px; font-weight:bold;">Mayur Vitthal Korhale</h3>
               <p class="card-text" style="line-height: 30px; font-weight:600;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, illo. Iure vel neque laudantium qui a unde earum esse quisquam natus dolorem blanditiis, perspiciatis delectus fuga minima ad beatae magnam nostrum autem maiores deleniti asperiores totam. Nisi recusandae maxime iste accusamus consequuntur quia quasi ipsam veritatis, dolorem perferendis aliquam obcaecati quidem repellendus perspiciatis optio tenetur minima animi odit provident commodi explicabo molestiae atque nesciunt! Beatae itaque nam quis culpa voluptate.
              </p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock body %}

